// resets, variables, mixins, and any utility classes.
$primaryColor: #56cbf9;
$secondaryColor: #7fbeeb;
$bg-color: #afbed1;
$ball: #eac5d8;
$slider: #ecebf5;

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas { 
    background-color: $bg-color;
    display: block; 
    margin: 0 auto; 
}

h1, #copyright { 
    margin: 20px;
    text-align: center;
}