* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
  background-color: #afbed1;
  display: block;
  margin: 0 auto;
}

h1, #copyright {
  margin: 20px;
  text-align: center;
}